<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Total Earned</th>
            <th scope="col">Total Expenses</th>
            <th scope="col">Total Profit</th>
            <th scope="col">Total Mileage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=  current_user.jobs.all.sum(:charge) %></td>
            <td><%=  current_user.expenses.all.sum(:cost) %></td>
            <td><%= current_user.jobs.all.sum(:charge) - current_user.expenses.all.sum(:cost) %></td>
            <td><%= current_user.jobs.all.sum(:mileage) %></td>
        </tr>
    </tbody>
</table>